<br>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p style="font-weight: bold">Add a Cloud</p>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-1"></div>                
          <div class="col-md-3">
            <a (click) = "addCloud()" class="simple-text" style="font-size: 30px;margin-top:5px;cursor:pointer;float:left">
              <img src="../../assets/img/google-drive.png" style="width:60%" alt=""> </a>
          </div>
          <div class="col-md-3">
              <a (click)="AuthorizeDropbox()" class="simple-text" style="font-size: 30px;margin-top:5px;float:left;cursor:pointer">
                <img src="../../assets/img/dropbox.png" style="width:110%;height:80px" alt=""> </a>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>