<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
 
    <div class="panel panel-default">
      <div class="panel-heading">Upload File Drive</div>
      <div class="panel-body">
        <input type="file" (change)="fileChange($event)" placeholder="Upload file">
      </div>
    </div>
   
    <!-- <div class="panel panel-default">
      <div class="panel-heading">Get File</div>
      <div class="panel-body">
        <label>Enter File Name : </label>
        <input type="text" id="get-file" />
        <br><br>
      <span>  <button class="btn btn-primary" id="down" onclick="hello()">get file</button>
       <br><br> <span id="message-download"></span></span>
      </div>
    </div> -->
  </div>

</div>